* {
    box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}


.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    font-size:24px;
    color: #f9faf8;
}
ul {
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    gap:16px;
    color: #f9faf8;
}

.content.upper {
    background-color: #1f2937;
}